html {
    font-size: 16px;
    background-color: #e0f7fa;
}

header .nav-wrapper {
border-top-left-radius: 20px;
border-top-right-radius: 20px;
}

footer {
border-bottom-right-radius: 20px;
border-bottom-left-radius: 20px;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    border: 2px solid black;
    border-radius: 22px;
    background-color: #FFFFFF;
    padding-left: 0px;
    padding-right: 0px;
  }

  main {
    flex: 1 0 auto;
  }

.slogan {
    font-style: italic;
    font-size: 1rem;
    padding: 0.75rem;
}

.links-uteis a:hover {
    text-decoration: underline;
}

#welcome-message {
    margin-top: 0.75rem;
}

#navigationMenu .card-content .divider {
  background-color: black; }

#navigationMenu #slide-out .logo {
    margin-top: 5%;
    margin-bottom: 5%;
    height: 70px;
}

#navigationMenu #slide-out .logo:hover {
    background-color: white;
}

.item-menu{
    padding-bottom: 5px;  
    padding-top: 20px;
}

#navigationMenu .card-content:first-child {
    padding-top: 5px;
}

main .card-panel {
    margin-right: 40px;
    margin-top: 40px;
    border-radius: 20px;
}

/* label color */
.input-field label {
    color: #FFF;
}

/* label focus color */
.input-field input[type=text]:focus + label {
    color: #FFF;
}