html {
    font-size: 16px;
    background-color: #E7EAEA;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    background-color: white;
    padding-left: 0px;
    padding-right: 0px;
  }

main {                      
    flex: 1 0 auto;
    background: #FFF;
}

.slogan {
    font-style: italic;
    font-size: 1rem;
    padding: 0.75rem;
}
 
.links-uteis a:hover {
    text-decoration: underline;
}

.texto-inicial {
    margin-top: 20px;
    margin-left: 3.6%;
    font-size: 1.5rem;
    font-weight: bold;
}

.texto-inicial-menor {
    margin-bottom: 20px;
    margin-left: 3.6%;
    font-size: 0.9rem;
    font-style: italic;
    border-bottom: 2px solid black;
    width: 100%;
}

.agencia{
    position: absolute;
    left: 28%; 
    top:-10px; 
    font-size: 1.2rem;
}

.conta{
    position: absolute; 
    left: 28%; 
    top:10px; 
    font-size: 1.2rem;
}

#navigationMenu .card-content .divider {
  background-color: black; }

#navigationMenu #slide-out .logo {
    margin-top: 5%;
    margin-bottom: 5%;
    height: 70px;
}

#navigationMenu #slide-out .logo:hover {
    background-color: white;
}

.item-menu{
    padding: 15px;
    box-shadow: 0px 0px 4px #000;
    color: #000;
}

.item-menu:hover{  
    box-shadow: inset 0px 0px 10px #000;
}

#navigationMenu{
    padding-left: 5px;
}

#navigationMenu .card{
    box-shadow: inset 0px 0px 10px #000000;
    margin-top: 18%;
    width: 110%;
    margin-left: 10px;
    min-width: 130px;
    text-align: center;
}

.card{
    margin-left: 8%;
    width: 100%;
}


#navigationMenu .card-content:first-child {
    padding-top: 5px;
}

.card .card-content .card-text{
    border-top: 3px solid rgba(160, 160, 160, 0.2);
    padding: 20px;
    background-color: grey;
}

/* label color */
.input-field label {
    color: #FFF;
}

/* label focus color */
.input-field input[type=text]:focus + label {
    color: #FFF;
}

.logo{
padding-top: 5px;
padding-left: 15px;
}