html {
    font-size: 16px;
}

header, main, footer {
    padding-left: 240px;
}

@media only screen and (max-width : 992px) {
    header, main, footer {
      padding-left: 0;
    }
}

header .nav-wrapper,
header .nav-wrapper i {
    height: 95px;
    line-height: 95px;
}

header .nav-wrapper {
    padding: 0 0.75rem;
}

.slogan {
    font-style: italic;
    font-size: 1rem;
    padding: 0.75rem;
}

.links-uteis a:hover {
    text-decoration: underline;
}

#welcome-message {
    margin-top: 0.75rem;
}

#navigationMenu #slide-out .logo {
    margin-top: 5%;
    margin-bottom: 5%;
    height: 70px;
}

#navigationMenu #slide-out .logo:hover {
    background-color: white;
}

/* label color */
.input-field label {
    color: #FFF;
}

/* label focus color */
.input-field input[type=text]:focus + label {
    color: #FFF;
}